<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="springDemo" type="GraalVmRunConfiguration" factoryName="GraalVmBinary">
    <run-attributes version="1" native-image="C:\Users\Olga.Pavlova\IdeaProjects\ALL_GRAALVM\spring-graalvm-demo\target\springDemo" symbol-info="C:\Users\Olga.Pavlova\IdeaProjects\ALL_GRAALVM\spring-graalvm-demo\target\springDemo.debug" target-environment="&lt;none&gt;:&lt;none&gt;2">
      <arguments />
      <module name="spring-graalvm-demo" />
    </run-attributes>
    <method v="2" />
  </configuration>
</component>